* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	}

body {
	font-family: 'Open Sans';
	font-size:10px;
}

ul {list-style:none;}

a, a:visited, a:active {
	text-decoration:none;
	color:inherit;
}

hr {
	margin:10px 0;
}

.readonly {
	color:#dedede;
	font-weight:700;
}

form * {
	display:block;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.container {
	width:1140px;
	margin:0 auto;
	padding:25px;
	} 


.img-round {
	border-radius:5px;
	box-shadow:1px 1px 2px rgba(0,0,0,.25);
}

.clientCard {
	display:inline-block;
	vertical-align:top;
	margin:10px 5px 0 5px;
	padding:10px;
	border:1px solid #cecece;
	border-radius:10px;
	width:calc(25% - 10px);
}

.full-clientCard {
	margin:10px 0;
	padding:10px;
	border:1px solid #cecece;
	border-radius:10px;
}

.full-clientCard > div {
	margin:25px;
}

.cardTop {
	background:linear-gradient(#5292ff 0%, #0760fc 100%);
	padding:5px;
	font-weight:700;
	font-size:1.5em;
	color:#fff;
	border-radius:5px;
}

