* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	transition:all .8s ease;
	}

body {
	font-family: 'Open Sans';
	font-size:12px;
	color:#777;
}

ul {list-style:none;}

a, a:visited, a:active {
	text-decoration:none;
	color:inherit;
}

hr {
	margin:10px 0;
}

.readonly {
	color:#dedede;
	font-weight:700;
}

form * {
	display:block;
}

input {
	width:50%;
	padding:5px;
	margin:5px 0;
	border:1px solid #cecece;
}

button {
	border:1px solid rgba(0,0,0,.10);
	padding:5px 50px;
	margin:5px 0;
	font-weight:700;
	font-size:14px;
	display:inline-block;
	background:#34B484;
	color:#fff;
}

.submit {
	background:#34B484;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.alert {
	border:1px solid rgba(0,0,0,.10);
	padding:10px;
	font-weight:700;
	font-size:14px;
	display:inline-block;
}

.alert-danger a:hover {
	color:#66f46b;
}

.alert-danger {
	background:#ffcfcf;
	color:#643232;
}

.container {
	width:1140px;
	margin:0 auto;
	padding:25px;
	} 


.img-round {
	box-shadow:1px 1px 2px rgba(0,0,0,.25);
}

.clientCard {
	display:inline-block;
	vertical-align:top;
	margin:10px 5px 0 5px;
	padding:10px;
	border:1px solid #cecece;
	width:calc(25% - 10px);
	min-height:180px;
	box-shadow:1px 1px 3px rgba(0,0,0,.15);
	position:relative;
}

.create {
	background:#34B484;
	text-align:center;
	font-size:80px;
	box-shadow:none;
	color:#217555;
	border:1px solid rgba(0,0,0,.10);
}

.create:hover {
	color:rgba(0,0,0,.50);
	text-shadow:0px 0px 10px rgba(0,0,0,.20);
}

.create i {
	margin-top:35px;
}

.full-clientCard {
	margin:10px 0;
	padding:10px;
	border:1px solid #cecece;
}

.full-clientCard > div {
	margin:25px;
	border-bottom:1px dotted #cecece;
}

div.cardTop {
	background:#45a6cc;
	padding:5px;
	font-weight:700;
	font-size:1.5em;
	color:#fff;
	margin:0 0 10px 0;
	text-align:center;
	border:none;
}

