<a href="#/viewclients">Return to Client List</a>

<div class="full-clientCard clearfix">
    
    <div class="cardTop">{{ singleClient.clientID }}: {{ singleClient.clientCompanyName | uppercase}}</div>
    <div>{{ singleClient.clientContactFirstName }}</div>
    <div>{{ singleClient.clientContactLastName }}</div>
    <div>{{ singleClient.clientEmail }}</div>
    <div>{{ singleClient.clientAddress["addressStreet"] }} {{ singleClient.clientAddress["addressCity"] }} {{ singleClient.clientAddress["addressState"] }} {{ singleClient.clientAddress["addressZip"] }}</div>
    <div>{{ singleClient.clientWorkPhone }}</div>
    <div>{{ singleClient.clientMobilePhone }}</div>
	<div>{{ allProjects }}</div>
	<div class="delete alert alert-danger"><a href="#/details/{{ singleClient._id }}/delete">Delete</a></div>
 </div>
 
 <form>
 <input type="text" data-ng-model="formData.projectName"></input>
 <input type="text" data-ng-model="formData.projectStatus"></input>
 <button data-ng-click="addProject()">Add</button>
 </form>