<a href="#/viewclients">Return to Client List</a>

<div class="full-clientCard clearfix" data-ng-repeat="client in dbClients | filter:ID">
    
    <a href="#/details/{{ client.clientID }}"><div class="cardTop">{{ client.clientID }}: {{ client.clientCompanyName | uppercase}}</div></a>
    <div>{{ client.clientContactFirstName }}</div>
    <div>{{ client.clientContactLastName }}</div>
    <div>{{ client.clientEmail }}</div>
    <div>{{ client.clientAddress["addressStreet"] }} {{ client.clientAddress["addressCity"] }} {{ client.clientAddress["addressState"] }} {{ client.clientAddress["addressZip"] }}</div>
    <div>{{ client.clientWorkPhone }}</div>
    <div>{{ client.clientMobilePhone }}</div>

 </div>