<div class="allCards">
	<h1>Search</h1> 
    <input type="text" data-ng-model="filter.quickSearch"></input>
    <h1>{{ filter.quickSearch | uppercase }}</h1>
   
    <div class="clientCard clearfix" data-ng-repeat="client in dbClients | filter:filter.quickSearch">
    
    <div class="cardTop"><a href="#/details/{{ client._id }}">{{ client.clientCompanyName | uppercase}}</a></div>
    <div>{{ client.clientContactFirstName }}</div>
    <div>{{ client.clientContactLastName }}</div>
    <div>{{ client.clientEmail }}</div>
    <div>{{ client.clientAddress["addressStreet"] }} {{ client.clientAddress["addressCity"] }} {{ client.clientAddress["addressState"] }} {{ client.clientAddress["addressZip"] }}</div>
    <div>{{ client.clientWorkPhone }}</div>
    <div>{{ client.clientMobilePhone }}</div>
	<!-- <div class="delete alert alert-danger"><a href="#/details/{{ client._id }}/delete">Delete</a></div> -->
    </div>
    
    <a href="#/create"><div class="clientCard clearfix create"><i class="fa fa-plus-square"></i></div></a>
   
</div>